.container {
    min-width: 973px;
}
header {
    display: flex;
    justify-content: space-between;
    height: 40px;
    font-family: Microsoft YaHei;
    border-bottom:
}
.header-titles {
    line-height: 40px;
    font-size: 22px;
    padding-left: 40px;
}
.header-columns {
    display: flex;
    flex-direction: row;
    line-height: 40px;
    font-size: 16px;
    margin-right: 100px;
}
.header-column {
    padding: 0 25px 0 0px;
}
.a {
    position: relative;
}
.a img {
    /*height: 650px;*/
    width: 100%;
}
.a-text {
    position: absolute;
    left: 70px;
    top: 140px;
    font-family: Microsoft YaHei;
    color: white;
}

/*.a::after {
    opacity: 0.9;
    width: 200px;
    height: 150px;
    color: #191919;
    left: 0;
    top: 0;
}*/

.a-title {
    font-size: 60px;
}
.a-detail {
    font-size: 20px;
    line-height: 32px;
    padding: 5px 0 70px 5px;
}
.a-button {
    background-color: #27ae60;
    padding: 13px 120px;
    border-style: none;
    font-size: 26px;
    color: white;
    font-family: Microsoft YaHei;
    border-radius: 2px;
}
.b {
    display: flex;
}
.b-details {
    display: flex;
    flex-direction: column;
}
.b-icon {
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #27ae60;
    opacity: 0.8;
}
.b-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 60px 30px 60px;
    border-right: 2px solid #AAAAAA;
    font-family: Microsoft YaHei;
    font-size: 16px;
    height: 0px;
    text-align: center;
    color: #676767;
    line-height: 25px;
}
.b-detail-last {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 60px 30px 60px;
    border-right: 2px solid white;
    height: 0px;
    text-align: center;
    color: #676767;
    font-family: Microsoft YaHei;
    font-size: 16px;
    line-height: 25px;
    border-right: hidden;
}
.c {
    background-color: #EEFFBB;
    height: 350px;
    width: 100%;
    margin: 40px 0 0px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.c-icon {
    font-size: 70px;
    color: #27ae60;
    opacity: 0.8;
    padding: 0 0 30px 0;
}
.c-title {
    font-size: 34px;
    font-family: Microsoft YaHei;
    color: #676767;
}
.d {
    height: 300px;
    width: 100%;
    /*opacity: 0.8;*/
    background-color: #F5FFFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.e {
    height: 570px;
    width: 100%;
    background-color: #FFF5EE;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.e-part {
    padding: 100px 30px 50px 30px;
}
.e-pic img {
    height: 300px;
    width: 160px;
    border: 1px solid #DDDDDD;
    padding: 10px;
    background-color: white;
}
.e-part-two {
    padding: 100px 30px 50px 30px;
}
.e-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Microsoft YaHei;
}
.e-city {
    font-size: 18px;
    color: #676767;
    padding: 10px 0 10px 0;
    text-align: center;
    /*letter-spacing: 25px;*/
}
.e-city-sz {
    font-size: 22px;
    color: #676767;
    padding: 10px 0 10px 0;
    text-align: center;
}
.e-introduction {
    font-size: 16px;
    color: #AAAAAA;
    padding: 0px 0 10px 0;
}
.f-left img {
    height: 550px;
    width: 892px;
}
.f {
    display: flex;
    flex-direction: row;
}
.f-right {
    display: flex;
    flex-direction: column;
}
.g {
    display: flex;
}
.g-part {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.g-rigth {
    flex: 1;
}
.h {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.i {
    display: flex;
    flex-direction: row;
}
.i-lefts {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.i-left {
    display: flex;
    flex-direction: column;
}
.i-right {
    display: flex;
    flex-direction: column;
    flex: 1.5;
}
/*.i-right-name{
  flex: 1;
}
.i-right-age{
  flex: 1;
}*/
.j {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    background-color: #EEFFBB;
}
footer{
  background-color: #FFF5EE;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}
.footer-a{
  text-decoration: none;
}
