* {
    font-family: "Microsoft YaHei", sans-serif;
    box-sizing: border-box;
}
#tag{
  width: 250px;
  margin: 0 10px;
  padding: 5px 0 5px 10px;
}
li{
  display: inline-block;
  padding: 5px;
  background-color: #CCBBFF;
  color: white;
  border-radius: 3px;
  margin: 10px;
}
#showHobby{
  /*cursor: pointer;*/
}
.delete{
  background-color: #33acfe;
}
.tagItem{
  cursor: pointer;
}
