.aqi-chart-wrap {
    display: flex;
    height: 500px;
    align-items: flex-end;
    margin-top: 80px;
}
.wrap {
    background-color: #3498db;
    flex: 1;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.wrap:hover{

}
.wrap:nth-last-child(5n+1) {
    background-color: #f1c40f;
}
.wrap:nth-last-child(5n+2) {
    background-color: #1abc9c;
}
.wrap:nth-last-child(5n+3) {
    background-color: #e74c3c;
}
.wrap:nth-last-child(5n+4) {
    background-color: #8e44ad;
}
.title {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 145px;
    color: black;
}
.show + div {
    display: block;
}
.aqi-hint {
    position: absolute;
    display: none;
    width: 120px;
    border: 1px solid #16324a;
    background-color: white;
    z-index: 999;
    font-size: .75rem;
    line-height: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #dddddd;
    opacity: .8;
}
