    body {
        background-color: white;
    }
    .container {
        height: 1386px;
        width: 980px;
        padding: 0 44px 0 44px;
    }
    header {
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: #999;
        display: flex;
        justify-content: space-between;
        height: 61px;
        width: 892px;
        font-family: SimHei;
    }
    .url {
        height: 61px;
        width: 110px;
        background-color: #444444;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    .url-name {
        padding-bottom: 5px;
    }
    .date {
        color: #444444;
        padding: 40px 5px 0px 5px;
    }
    .a {
        display: flex;
        flex-direction: row;
        justify-content:
    }
    .a-left {
        padding: 30px 0 0px 0px;
        height: 361px;
        width: 641px;
    }
    .a-left img {
        height: 301px;
        width: 641px;
    }
    .a-left:after {
        content: '';
        display: inline-block;
        width: 191px;
        height: 301px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.5;
        background: #191919;
        margin-left: 51px;
        margin-top: 101px;
    }
    .a-left:before {
        content: '';
        display: inline-block;
        width: 191px;
        height: 301px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.5;
        background: #191919;
        margin-left: 502px;
        margin-top: 101px;
    }
    .a-right {
        display: felx;
        padding: 30px 0 0px 48px;
        width: 203px;
    }
    .a-right-line {
        border: 2px solid #FFC0CB;
    }
    .a-right-title {
        font-size: 22px;
        line-height: 20px;
        font-family: Microsoft YaHei;
        color: #666666;
        padding-top: 14px;
        text-decoration: underline;
    }
    .a-right-title::first-letter {
        font-size: 28px;
        font-weight: bolder;
    }
    .a-right-detail {
        font-size: 12px;
        line-height: 10px;
        font-family: KaiTi;
        color: #676767;
        font-style: italic;
        text-transform: lowercase;
        margin-top: 8px;
    }
    .a-right-number {
        font-size: 116px;
        color: #34495e;
        font-style: italic;
        font-family: SimHei;
    }
    .a-right-edition {
        display: flex;
        font-family: Microsoft YaHei;
    }
    .edition-left {
        font-size: 55px;
        color: #FFC0CB;
    }
    .edition-right {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: 10px;
        margin-left: 8px;
    }
    .edition-name {
        font-size: 21px;
        color: #FFC0CB;
    }
    .edition-description {
        font-size: 12px;
        color: #676767;
    }
    .b {
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        width: 641px;
        line-height: 16px;
        align-items: stretch;
        margin-top: -20px;
    }
    .b-name {
        font-family: Microsoft YaHei;
    }
    .what {
        font-size: 16px;
        color: #FFC0CB;
        text-decoration: underline;
        color: #FFC0CB;
        font-weight: bolder;
    }
    .b-detail {
        margin-right: 30px;
        font-size: 12px;
        margin-top: 6px;
        align-items: stretch;
        opacity: 0.7;
        text-overflow: ellipsis;
    }
    .when {
        font-size: 16px;
        color: #676767;
        text-decoration: underline;
        color: #676767;
        font-weight: bolder;
    }
    .when-detail {
        margin-right: 30px;
        font-size: 12px;
    }
    .how {
        font-size: 16px;
        font-weight: bolder;
        color: #87CEFA;
        text-decoration: underline;
        color: #87CEFA;
        min-width: 160px;
    }
    .how-detail {
        font-size: 12px;
        margin-top: 6px;
        opacity: 0.7;
    }
    .how-percent {
        font-size: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0 10px 0;
    }
    .how-summary {
        display: flex;
        line-height: 24px;
    }
    .percent-name {
        color: #676767;
    }
    .percent-name::first-letter {
        text-transform: uppercase;
    }
    .percent {
        font-style: italic;
        color: #87CEFA;
    }
    .c {
        display: flex;
        flex-direction: row;
        margin-top: 50px;
    }
    .the {
        font-size: 72px;
        font-family: SimHei;
        font-style: italic;
        font-weight: bolder;
        color: #87CEFA;
        float: left;
        margin: 0 20px 0px 0;
    }
    .d {
        display: flex;
        flex-direction: column;
        width: 408px;
        margin-right: 26px;
    }
    .d-upper-title {
        font-size: 42px;
        line-height: 55px;
        font-family: SimHei;
        color: #34495e;
    }
    .d-upper-chinese {
        border-bottom: 2px solid #34495e;
    }
    .chinese {
        font-size: 33px;
        font-family: SimHei;
        color: #34495e;
        margin-bottom: 14px;
    }
    .d-lower {
        margin: 10px 0 0 0;
        padding: 10px 0 5px 0;
    }
    .d-lower-qian {
        font-size: 70px;
        font-family: SimHei;
        color: #87CEFA;
        float: left;
        margin: 25px 8px 25px 0px;
    }
    .d-lower-detail {
        font-size: 12px;
        font-family: Microsoft YaHei;
        color: #676767;
        line-height: 18px;
        text-overflow: ellipsis;
    }
    .d-lower-pic img {
        height: 250px;
        width: 150px;
        float: right;
        margin: 20px 0 15px 15px;
    }
    .e {
        display: flex;
        flex-direction: column;
        width: 458px;
        background-color: #F8F8FF;
    }
    .e-upper {
        padding-bottom: 15px;
        background-color: white;
        position: relative;
    }
    .e-upper img {
        height: 275px;
        width: 458px;
    }
    .canvas {
        height: 50px;
        width: 423px;
        /*opacity: 0.5;*/
        background-color: rgba(25, 25, 25, 0.5);
        position: absolute;
        top: 225px;
        padding-left: 35px;
        font-family: Microsoft YaHei;
    }
    .e-upper-detail {
        color: white;
        line-height: 50px;
        opacity: 1;
    }
    .canvas-left {
        font-size: 26px;
        color: white;
        border-left: 2px solid #FFC0CB;
        padding-left: 10px;
    }
    .canvas-right {
        font-size: 14px;
        font-style: italic;
        color: #87CEFA;
    }
    .e-lower {
        display: flex;
        flex-direction: column;
        height: 306px;
        color: #34495e;
    }
    .f {
        display: flex;
        flex-direction: column;
    }
    .f-uppers {
        display: flex;
        flex-direction: column;
        margin: 5px 0 24px 0;
    }
    .f-upper {
        display: flex;
        flex-direction: row;
        padding: 15px 10px 0px 30px;
    }
    .f-upper-name {
        font-size: 18px;
        font-family: Microsoft YaHei;
        line-height: 30px;
    }
    .triangles {
        display: flex;
        flex-direction: row;
    }
    .f-upper-explain {
        font-size: 12px;
        font-family: Microsoft YaHei;
        display: flex;
        font-style: italic;
        margin: 10px 15px 10px 5px;
    }
    .f-lower {
        display: flex;
        flex-direction: row;
    }
    .f-lower-left {
        width: 380px;
        display: flex;
        background-color: #FFC0CB;
        justify-content: center;
        align-items: center;
        height: 164px;
        font-family: SimHei;
        color: white;
        padding: 0 5px 0 5px;
    }
    .g-left {
        display: flex;
        align-items: center;
        font-size: 110px;
        font-family: Microsoft YaHei;
    }
    .g-middle {
        border-right: 2px solid white;
        height: 110px;
        margin: 0 10px 0 5px;
    }
    .f-lower-right {
        display: flex;
        width: 184px;
    }
    .g-right-upper {
        font-size: 21px;
        font-style: italic;
    }
    .g-right-lower {
        font-size: 12px;
        line-height: 15px;
        padding-right: 5px;
        margin-top: 10px;
    }
    .f-lower-right {
        height: 160px;
        width: 260px;
        font-family: SimHei;
        display: flex;
        align-items: baseline;
        padding: 0 15px 0 20px;
    }
    .h-detail {
        position: relative;
        font-size: 14px;
        font-style: italic;
        padding-top: 20px;
        text-indent: 50px;
        align-items: center;
    }
    .h-detail::before {
        content: "“";
        font-size: 72px;
        position: absolute;
        left: -90px;
        top: -5px;
        font-style: normal;
    }
    .h-detail::after {
        content: "”";
        font-size: 72px;
        position: absolute;
        bottom: -70px;
        right: -35px;
        font-style: normal;
    }
    /*.h-detail:before {
        position: absolute;
        content: "“";
        font-size: 72px;
        margin: -50px 5px 0px -30px;
        font-style: normal;
    }
    .h-detail:after {
        content: "”";
        position: absolute;
        font-size: 72px;
        font-style: normal;
        right:  0px;

    }*/

    .footer-url {
        border-top: 1px solid #999;
        width: 892px;
        margin-top: 30px;
        /*height: 61px;*/
        color: #676767;
        font-family: SimHei;
        display: flex;
        justify-content: flex-end;
        padding-top: 2px;
    }
    .triangle {
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 14px solid #676767;
        margin: 9px 10px 0 -15px;
    }
