* {
    font-family: "Microsoft YaHei", sans-serif;
    box-sizing: border-box;
}
fieldset {
    width: 480px;
    margin: 20px auto;
    border: solid 2px #DDDDDD;
    border-radius: 5px;
}
textarea {
    float: left;
    resize: none;
    border-radius: 2px;
}
button {
    float: left;
    margin: 15px 10px 5px 0px;
    background-color: white;
    border: 1px solid #AAAAAA;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}
button:last-child {
    margin: 15px 0 5px 0px;
}
input {
    float: left;
    margin: 16px 12px 5px 12px;
    padding: 0 0 0 5px;
    height: 28px;
}
.screen {
    width: 542px;
    min-height: 200px;
    overflow: hidden;
    margin: 20px auto;
    border: solid 2px #DDDDDD;
    border-radius: 5px;
    text-align: center;
    position: relative;
    padding: 10px 5px;
}
/*@keyframes drop {
    0% {
        transform: translateY(-55px);
    }
    20% {
        transform: translateY(-30px);
    }
    40% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(-10px);
    }
}
.screen span {
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    color: white;
    background-color: #3498db;
    min-width: 50px;
    float: left;
    margin: 5px;
    animation: drop 0.3s ease-in-out;
    transition: height, background-color 0.2s;
    cursor: pointer;
}
@keyframes disappear {
    0% {
        min-width: 50px;
        margin: 5px;
    }
}
.screen span.removing {
    min-width: 0;
    width: 0;
    margin: 5px 0;
    animation: disappear 0.5s ease-in-out;
}*/
li {
    list-style: none;
    display: inline-block;
    margin: 5px;
    height: 35px;
    line-height: 35px;
    padding: 0 5px;
    background-color: #CCBBFF;
    color: white;
    border-radius: 3px;
}
